@font-face {
    font-family: "poppinslight" ;
    src: url("fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "PoppinsRegular";
    src: url("fonts/Poppins-Regular.ttf");
  }
  @font-face {
    font-family: "PoppinsBold";
    src: url("fonts/Poppins-Bold.ttf");
  }

  body {
    background-color: aquamarine;
    background-color: hsl(60, 33%, 89%);
    background-color: rgb(236, 236, 218);
    background-color: #ececda;
    color: #ffffff;
    text-transform: uppercase;
    background-image: url("https://media.istockphoto.com/id/1322205545/photo/digitally-enhanced-shot-of-an-unrecognizable-businessmans-hands-on-a-laptop-keyboard.jpg?s=1024x1024&w=is&k=20&c=0cVg-LyTMXBREZsOFGK42TmDw08VQ0_Ut5pDky8hCe8=");
    
}
li {
   font-size: 32px;
   font-size: 2em; 
   font-size: 200%;

   margin : 5px;
   padding : 5px;
   border : 1px solid black;
   background-color: rgba(0, 0, 0,0.5);
   text-decoration: underline;
letter-spacing: 2px;
word-spacing: 3px;
    
}   

li>span {
    font-family: popppinslight;
    text-decoration: underline;
    text-decoration-style: dashed;
    color: burlywood;


}




li{

    border-color: aqua;

}
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.css-text{
    text-decoration: underline;

}
#css-heading{
    text-align: center;
    font-family: poppinsRegular;
    font-size: 3em;
    background-color: rgba(3, 3, 3, 0.4);
    text-shadow: 15px,15px,15px white;

}
p {
    text-align: justify;
}

div>h1{
    color: rgb(0, 0, 0,);
}

div>p>strong{
    font-style: oblique;
}


